<button class="small" data-ui="#logout-modal">ログアウト</button>

<div class="modal" id="logout-modal" style="z-index: 999;">
    <h5>本当にログアウトしますか？</h5>
    <div>OKを押すとログアウトします。</div>
    <nav class="right-align">
        <form action="{% url 'accounts:logout' %}" method="post" id="logout_submit_modal">
            {% csrf_token %}
            <button data-ui="#logout-modal" type="submit">OK</button>
        </form>
        <button class="border" data-ui="#logout-modal">キャンセル</button>
    </nav>
</div>
