{% load widget_tweaks %}

<form action="" method="post" enctype="multipart/form-data" id="form-container">
    {% if form.errors %}
    <ul>
        {% for error in form.errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    <div id="snap-form-list">
        {% for snap_form in formset %}
        {% include "website/widgets/snap_form.html" with form=snap_form %}
        {% endfor %}
    </div>

    <div>
        <button class="btn btn-primary" type="submit">送信</button>
        <button id="add-snap" class="btn" type="button">画像を追加</button>
    </div>
</form>
