{% load widget_tweaks %}

<form action="" method="post" enctype="multipart/form-data" id="form-container">
    {% if form.errors %}
    {% for error in form.errors %}
    <article class="red5 white-text">
        <p>{{ error }}</p>
    </article>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="container">
        {% for field in form %}
        <div class="field label border {% if field.errors %}invalid{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% include "widgets/field_error.html" with field=field %}
        </div>
        {% endfor %}

        {{ formset.management_form }}
        <div id="snap-form-list">
            {% for snap_form in formset %}
            {% include "website/widgets/snap_form.html" with form=snap_form %}
            {% endfor %}
        </div>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">送信</button>
        <button id="add-snap" class="btn" type="button">画像を追加</button>
    </div>
</form>
