<form action="" method="post" enctype="multipart/form-data" id="form-container">
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    <div id="snap-form-list">
        {% for snap_form in formset %}
        <div class="snap-form">
            {{ snap_form.as_p }}
        </div>
        {% endfor %}
    </div>

    <div>
        <button class="btn btn-primary" type="submit">送信</button>
        <button id="add-snap" class="btn" type="button">画像を追加</button>
    </div>
</form>
