{% extends '_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/website/detail.css' %}">
{% endblock styles %}

{% block content %}
<div>
    {% include "widgets/back_to_list_button.html" %}
    <div class="container">
        <h4>{{ object.title }}</h4>
        <a href="{{ object.url }}" target="_blank" rel="noopener noreferrer">Open Url</a>

        {% if object.snaps.all|length > 0 %}
        <nav id="snaps" class="row scroll">
            {% for snap in website.snaps.all %}
            {% if snap.snap %}
            <img src="{{ snap.snap.url }}" alt="{{ snap.snap.name }}">
            {% endif %}
            {% endfor %}
        </nav>
        {% endif %}
    </div>

    <a class="small chip primary" href="{% url 'website:update' pk=object.pk %}">Edit</a>
</div>
{% endblock content %}

{% block js %}{% endblock js %}
