{% extends '_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/website/detail.css' %}">
{% endblock styles %}

{% block content %}
<div>
    {% include "widgets/back_to_list_button.html" %}
    <h1>{{ object.title }}</h1>

    <ul>
        {% for snap in website.snaps.all %}
        {% if snap.snap %}
        <li>
            <img src="{{ snap.snap.url }}" alt="{{ snap.snap.name }}">
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{% url 'website:update' pk=object.pk %}">Edit</a>
</div>
{% endblock content %}

{% block js %}{% endblock js %}
