<header class="surface-variant">
    <nav>
        <h5 class="max">
            <a href="{% url "website:list" %}">Django + Cloudinary + PythonAnywhere</a>
        </h5>
        {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a class="small chip primary" href="{% url 'website:create' %}">
            作成
        </a>
        {% include "accounts/logout_modal.html" %}
        {% else %}
        <a class="small chip primary" href="{% url 'accounts:signup' %}">
            アカウント作成
        </a>
        <a class="small chip primary" href="{% url 'accounts:login' %}">
            ログイン
        </a>
        {% endif %}
    </nav>
</header>
